html {
  height: 100%;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

.title {
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  margin-top: 0;
  height: 90px;
  color: #FFF;
  padding-top: 5px;
}

.content_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tweet_box {
  width: 400px;
  background: #52B3D9;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 13px 0 13px 0;
  /*display: inline-block;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  background: #FFF;
  margin: 0 auto;
  width: 350px;
  height: auto;
  border-radius: 5px;
  padding: 5px 10px;
}

.inner a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
}

.tweet {
  margin: -30px 0 0 61px;
}

.sub {
  font-weight: normal;
  font-size: 12px;
  color: #666;
}

.inner img {
  vertical-align: top;
  border-radius: 5px;
  margin-right: 5px;
}
